<!DOCTYPE html>
<html>
  <head>
    <title>AmazeJobs</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img src="http://dickbutt.it/dickbutt.jpg"></body>
  </body>
</html>
