<!DOCTYPE html>
<html>
    <head>
        <title>AmazeJobs</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/semantic.min.css' />
        <script src='https://code.jquery.com/jquery-1.11.1.min.js'></script>
        <script src='/lib/handlebars.runtime.js'></script>
        <script src='/javascripts/templates.js'></script>
        <script src='/javascripts/utils.js'></script>
        <script src='/javascripts/applications.js'></script>
        <script src='/javascripts/phases.js'></script>
        <script src='/javascripts/tasks.js'></script>
        <script src='/javascripts/index.js'></script>
        <script src='lib/semantic.min.js'></script>
        <script src='/lib/blur.min.js'></script>
    </head>
    <body>
        <div class='ui grid'>
            <div class='ui grid'>
                <div class='ten wide column'>
                    <div class="out-text ctitle">
                        AmazeJobs
                    </div>
                    <div id='error'></div>
                </div>
                <div class='six wide column right item' id = 'upper-right'>
                    <div class='ui inverted red button' id = 'logout'>
                        Logout
                    </div>
                </div>
            </div>
            <div class='ten wide column'>
                <div>
                    <div class='out-text subtitle'>
                        Applications
                    </div>
                    <div id='applications'>
                        <div class='ui fluid accordion' id='application-list'>
                        </div>
                    </div>
                </div>
            </div>
            <div class='six wide column'>
                <div class='out-text subtitle'>Tasks</div>
                <div id='task-list'>
                </div>
            </div>
        </div>
    </body>
</html>