<!DOCTYPE html>
<html>
    <head>
        <title>AmazeJobs</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/semantic.min.css' />
        <script src='https://code.jquery.com/jquery-1.11.1.min.js'></script>
        <script src='/lib/handlebars.runtime.js'></script>
        <script src='/javascripts/templates.js'></script>
        <script src='/javascripts/applications.js'></script>
        <script src='/javascripts/phases.js'></script>
        <script src='/javascripts/tasks.js'></script>
        <script src='/javascripts/index.js'></script>
        <script src='lib/semantic.min.js'></script>
        <script src='/lib/blur.min.js'></script>
    </head>
    <body>
        <divc class='ui grid'>
            <div class='ui grid'>
                <div class='ten wide column out-text ctitle'>AmazeJobs</div>
                <div class='six wide column right item' id = 'upper-right'>
                    <div class='ui inverted blue button' id = 'logout'>
                        Logout
                    </div>
                </div>
            </div>
            <div class='ten wide column'>
                <div id='application-list'>
                    <div class='out-text subtitle'>
                        Applications
                    </div>
<div class='ui fluid accordion'>
  <div class='active title'>
    This is some title
  </div>
  <div class='content'>
    This is what is inside the stuff
  </div>
</div>
                </div>
            </div>
            <div class='six wide column'>
                <div id='task-list'>
                    <div class='out-text subtitle'>Tasks</div>
                    <div class='bg'>
<div class='ui list'>
    <div class='item'>
    yolo
    </div>
    <div class='item'>
    swaggity
    </div>
    <div class='item'>
    yolo
    </div>
    <div class='item'>
    swaggins
    </div>
</div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script type='text/javascript'>
        $('.ui.accordion').accordion();
        $('body').blurjs({source:'body', radius:10});
    </script>
</html>