<!DOCTYPE html>
<html>
  <head>
    <title><%= name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>You are authenticated as</h1>
    <p>name: <%= name %></p>
    <p>user ID: <%= userId %></p>
  </body>
</html>
