<!DOCTYPE html>
<html>
    <head>
        <title>AmazeJobs</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/semantic.min.css' />
        <script src='https://code.jquery.com/jquery-1.11.1.min.js'></script>
        <script src='/lib/handlebars.runtime.js'></script>
        <script src='/javascripts/templates.js'></script>
        <script src='/javascripts/applications.js'></script>
        <script src='/javascripts/phases.js'></script>
        <script src='/javascripts/tasks.js'></script>
        <script src='/javascripts/index.js'></script>
        <script src='lib/semantic.min.js'></script>
        <script src='/lib/blur.min.js'></script>
    </head>
    <body>
        <divc class='ui grid'>
            <div class='ui grid'>
                <div class='ten wide column out-text title'>AmazeJobs</div>
                <div class='six wide column right item'>
                    <div class='ui medium button'>
                        Create Application
                    </div>
                    <div class='ui inverted blue button'>
                        Logout
                    </div>
                </div>
            </div>
            <div class='twelve wide column'>
                <div id='application-list'>
                    <div class="out-text subtitle">
                        Applications
                    </div>
                </div>
            </div>
            <div class='four wide column'>
                <div id='task-list'>
                    <div class='out-text subtitle'>Tasks</div>
                </div>
            </div>
        </div>
    </body>

    <script type='text/javascript'>
        //$('body').blurjs({source:'body', radius:10});
    </script>
</html>