<!DOCTYPE html>
<html>
  <head>
    <title>AmazeJobs</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/handlebars.runtime.js"></script>
    <script src="/javascripts/templates.js"></script>
    <script src="/javascripts/applications.js"></script>
    <script src="/javascripts/phases.js"></script>
    <script src="/javascripts/tasks.js"></script>
  </head>
  <body>
    <div id="main-container"></div>
  </body>
</html>