<!DOCTYPE html>
<html>
<head>
    <title>AmazeJobs</title>
    <link rel='stylesheet' href='stylesheets/style.css' />
    <link rel='stylesheet' href='stylesheets/semantic.min.css' />
    <script src='https://code.jquery.com/jquery-1.11.1.min.js'></script>
    <script src='javascripts/semantic.min.js'></script>
    <script src='javascripts/handlebars.runtime.js'></script>
    <script src='javascripts/templates.js'></script>
    <script src='javascripts/users.js'></script>
</head>
<body>
    <div id='main-container'>
        <a href="/login" class='ui google plus button'>
            <i class='google plus icon'></i>
            Sign in with Google
        </a>
    </div>
</body>
</html>