<!DOCTYPE html>
<html>
<head>
    <title>AmazeJobs</title>
    <link rel='stylesheet' href='stylesheets/semantic.min.css' />
    <link rel='stylesheet' href='stylesheets/style.css' />
    <script src='https://code.jquery.com/jquery-1.11.1.min.js'></script>
    <script src='/lib/semantic.min.js'></script>
    <script src='/lib/handlebars.runtime.js'></script>
    <script src='/lib/blur.min.js'></script>
</head>
<body>
    <div id='main-container' class='abscentered'>
        <div class='title out-text'>
            Welcome to AmazeJobs
        </div>
        <div class='text-centered out-text subtitle'>
            Get your job applications under control
        </div>
        <center style='padding-bottom:20px;'>
            <a href='/login' class='ui google plus button'>
                <i class='google plus icon'></i>
                Sign in/up with Google
            </a>
        </center>
        <div class='text-centered out-text subtitle'>
            Brought to you by team =>
        </div>
    </div>

    <script>
        $('body').blurjs({source:'body', radius:10});
    </script>
</body>
</html>