<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Testing API</title>
    <link rel="stylesheet" href="testing_suite/qunit-1.12.0.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
    <p style="color:#ff0000">User hashr0ck3t@gmail.com must be in the database prior to running these tests.
    </p>
    <div id="qunit" userId="<%= userId %>"></div>
    <div id="qunit-fixture"></div>
    <script src="testing_suite/qunit-1.12.0.js"></script>
    <script src="testing_suite/tests.js"></script>
</body>
</html>