<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Testing API</title>
    <link rel="stylesheet" href="resources/qunit-1.12.0.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
    <div id="qunit" userId="<%= userId %>"></div>
    <div id="qunit-fixture"></div>
    <script src="resources/qunit-1.12.0.js"></script>
    <script src="resources/tests.js"></script>
</body>
</html>