body {
  padding: 50px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-image:url("/images/bg.png");
  min-width: 650px;
}

.ctitle {
    font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 70px !important;
}

.subtitle {
    font-size: 36px !important;
}

a {
  color: #00B7FF;
}

.text-centered {
    text-align: center;
}

.abscentered {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  white-space: nowrap;
  overflow: hidden;
}

.bg {
    background-color: white;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0px solid;
    border-radius: 5px;
}

.red {
  background-color: red;
}

.out-text {
    color:white;
    text-shadow: 1px 1px 1px black;
    padding-bottom: 20px;
}