<div class='title' app-id={{application._id}}>
    {{application.companyName}} {{application.currentPhase.phaseType}}
</div>
<div class='content' app-id={{application._id}}>
    Insert some fucking tasks here
</div>