{{! primary author: Elliott }}
<div class='ui {{type}} message'>
    {{breaklines text}}
    <a onclick='removeDialog()' class='close' style='float:right;'>
        <i class='remove icon'></i>
    </a>
</div>