{{! primary author: Elliott }}
<div class='ui error message {{help}}'>
    {{text}}
    <a onclick="removeDialog()" class="close" style="float:right;">
        <i class="remove icon"></i>
    </a>
</div>