{{! primary author: Elliott }}
<div class='ui {{type}} segment'>
    {{text}}
    {{breaklines text}}
    <a onclick='removeDialog()' class='ui corner label close'>
        <i class='remove icon'></i>
    </a>
</div>